@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully!
        </h1>
        <img src="~/Images/confirmation.png" width="45%" />
        <p style="margin-top: 10px;">Your Order Number is: @Model</p> 
        <div class="col-12 text-center" style="color: seagreen; margin-top: 15px;">
            Your order has been placed successfully!
        </div>
    </div>
</div>
